@font-face {
	font-family: roboto-regular;
	font-display: swap;
	src: url('/src/assets/fonts/Roboto-Regular.woff2') format('woff2'), url('/src/assets/fonts/Roboto-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: gilroy-regular;
	font-display: swap;
	src: url('/src/assets/fonts/Gilroy-Regular.woff2') format('woff2'), url('/src/assets/fonts/Gilroy-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: gilroy-semibold;
	font-display: swap;
	src: url('/src/assets/fonts/Gilroy-SemiBold.woff2') format('woff2'), url('/src/assets/fonts/Gilroy-SemiBold.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: gilroy-black;
	font-display: swap;
	src: url('/src/assets/fonts/Gilroy-Black.woff2') format('woff2'), url('/src/assets/fonts/Gilroy-Black.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: arial;
	font-display: swap;
	src: url('/src/assets/fonts/Arial-Regular.woff2') format('woff2'), url('/src/assets/fonts/Arial-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: arial-bold;
	font-display: swap;
	src: url('/src/assets/fonts/Arial-Bold.woff2') format('woff2'), url('/src/assets/fonts/Arial-Bold.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}