$base-font-size: 16px;

//$base-font-desktop-size: 0.9014vw;
$base-font-desktop-size: 0.8334vw;
$base-font-desktop-mid-size: 0.973vw;
$base-font-tablet-size: 16px;
$base-font-mobile-size: 4.1vw;

$roboto: roboto-regular, sans-serif;
$gilroy: gilroy-regular, sans-serif;
$gilroy-semi: gilroy-semibold, sans-serif;
$gilroy-black: gilroy-black, sans-serif;
$arial: arial, sans-serif;
$arial-bold: arial-bold, sans-serif;

$white: #FFF;
$black: #000;
$bg-white: #D9D9D9;
$green: #09CC62;
$dark-green: #099562;
$font-white: #EAEAEA;
$font-black: #0B2027;
$error: #E82121;
$orange: #FFA51E;
$pink: #CC094F;
$light-gray: #E2E2E2;
$gray: #E8E8E8;
$widget-gray: #2A4849;

$desktop-full: 1920px;
$desktop-mid: 1440px;
$desktop: 1366px;
$tablet-p: 1024px;
$tablet: 768px;
$mobile: 430px;
$widget-bp: 500px
